API_PORT=3000
LOG_LEVEL=debug

GENERATION_QUEUE_NAME=generation-queue
IMAGE_QUEUE_NAME=image-queue
POSTPROCESS_IMAGE_QUEUE_NAME=postprocess-image-queue
WEATHER_TABLE_NAME=WeatherTable
IMAGE_CONTAINER_NAME=weather-images

# Default is for Azurite
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;

# Please set to a secure and randomized string
# e.g. using `cat /dev/urandom | LC_ALL=C tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1`
ACCESS_TOKEN=
