# Generic configuration
APP_NAME=weatherapp710535
API_PORT=3000
REGION=francecentral

# Deployed resources
GENERATION_QUEUE_NAME=generation-queue
IMAGE_QUEUE_NAME=image-queue
POSTPROCESS_IMAGE_QUEUE_NAME=postprocess-image-queue
WEATHER_TABLE_NAME=WeatherTable
IMAGE_CONTAINER_NAME=weather-images

# Only applies to local environments
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;
LOG_LEVEL=debug

# Please set to a secure and randomized string
# e.g. using `cat /dev/urandom | LC_ALL=C tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1`
ACCESS_TOKEN=

# Docker Image configuration
IMAGE_SERVER_NAME=$APP_NAME-registry
IMAGE_SERVER=$IMAGE_SERVER_NAME.azurecr.io
IMAGE_API_REPOSITORY=weather-api
IMAGE_QUEUE_LISTENER_REPOSITORY=queue-listener
IMAGE_TAG=latest
